.description{
    text-align: justify;
    font-size: 17px;
    margin-top: 5px;
}
.description_top{
    text-align: justify;
    font-size: 17px;
    margin-top: 50px;
    margin-left: 50px;
}
.espace{
    margin-top: 100px;
}
.titre{
    font-size: 30px;
    margin-left: 10%;
    margin-top :100px;

}
.fiche{
    margin-left: 30px;
    margin-bottom: 50px;
}

th{
    text-align: center;
    color: black;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 50px;
    background-color: rgb(181, 234, 241);
    border:1px solid black;
}

td{
  text-align: center;
  border:1px solid black;
}

caption{
    text-align: center;
    color: black;
    font-size: 19px;
    line-height: 1.8;
    margin-bottom: 5px;
    background-color: rgb(181, 234, 241);
    font-weight:bold;
    border:1px solid black;
}


table{
    width:300px;
    float :right;
    margin-right: 10%;
    margin-top: 50px;
    margin-left: 8%;
    margin-bottom: 100px;
}

.desc_produit{
border-top: solid;
border-top-width: 5px;
margin-top: -20px;
position: relative;
}
.nom{
    background-color:#a9d8da;
    color: rgb(39 58 190);
    padding-top: 7px;
    width: 150px;
    height: 61px;
    text-align: center;
    margin-left: 34%;
    border-top:solid;
    border-right:solid;
    border-left:solid;
    border-color: black;
    margin-top: 250px;
    border-width:5px;
    font-size: 20px;
    line-height: 25px;
    position: relative;
}

@media(max-width:950px){
  .description_top{
    margin-top: 670px;
  }
}


@media(max-width:457px){
.titre{
  margin-top: 50px;
}
}
.raquette_none{margin-top: 50px;
margin-left: 90px;}

.cadie{
    margin-right: 92%;
    margin-left: 8%;
    width: 270px;
    height: 30px;
}

#course{
    margin-top: -95%;
    margin-left: 80%;
    margin-bottom: 15%;
}
.carré{
    width:350px;
    height: 540px;
    background-color: #DCDCDC;
    margin-left: 56%;
    margin-top: -450px;
    padding-top: 10px;
}

.rectangle{
    width:300px;
    height: 80px;
    background-color: #4682B4;
    display: inline-block;
    font-size: 25px;
    border:solid;
    border-color: grey;
    border-width: 2px;
    border-radius: 10px;
    opacity: 1;
}
.rectangle:hover{
  opacity: 70%;
   transition: .3s ease-in-out;
   border-color:black;
}
.ajout{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    margin-top: 10%;
    color:black;
    text-align: justify;
}
.ajout2{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 25px;
    margin-top: 7%;
    color:black;
    text-align: justify;
}
@media(max-width: 900px){
    .carré{
        margin-top: 350px;
        margin-left: 10%;
        height: 550px;
    }
  #raquette_desc{
    float: left;
    width:50%;
    height: 50%;
}
}

.quantité{
  text-align: center;
  font-size: 25px;
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
input{
  margin-left: 10%;
}

.prix_barrer{
  text-decoration: line-through;
  text-align: center;
    color: black;
    font-size: 12px;
}
.nouveau_prix{
    text-align: center;
    font-size: 18px;
    text-shadow:0 0 30px 
    rgb(190, 39, 67),5px 9px 5px 
    rgba(0, 0, 0, 0.5), 0 0 150px 
    #EC637B;
    color:rgb(216, 36, 75);

}
.nouveau_prix:hover{

    font-size: 5px;
    font-size: 22px;
    transition: 0.2s ease-in-out;
    text-shadow:0 0 30px 
    rgb(230, 28, 65),5px 9px 5px 
    rgba(0, 0, 0, 0.5), 0 0 150px 
    #EC637B;
    color:rgb(230, 28, 65);
}
.titre3{
  text-align:center;
  font-size: 25px;
  line-height: 0.6;
  margin-left: 0;
}
.description3{
  display:none;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
    width:120px;
    margin-top:30px;
    position: relative;
    margin-left:6%; 
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
    width:350px;
    position: relative;
    margin-left:6%; 
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

#vetement{
    float: left;
    margin-bottom: 10px;
    display:none;
}
.color2:hover #vetement{
  display:inline;
}
.color2:hover #raquette{
  display:none;
}
.color2{
    text-align: center;
}


.nomRaquette{
  font-size: 40px;
  line-height: 1;
  margin-top: -20px;
}


.separateur2{
  margin-top: 100px;
}